//----------------------------------------------------------------------------//
//  Copyright 2021 Clemens Treichler                                          //
//                                                                            //
//  Copying and distribution of this file, with or without modification,      //
//  are permitted in any medium without royalty, provided the copyright       //
//  notice and this notice are preserved. This file is offered as-is,         //
//  without any warranty.                                                     //
//----------------------------------------------------------------------------//

/**
 * @file Debug_LookupTable.h
 * @brief Application specific debug lookup-table
 *
 * This file interfaces the application specific debug lookup-table
 * to the debug module, there should be no need for any modification,
 * neither should this file be included anywhere else except in Debug.c
 */

#ifndef __DEBUG_LOOKUP_TABLE_H__
#define __DEBUG_LOOKUP_TABLE_H__

/**
 * @ingroup DEBUG
 * @defgroup DEBUG_LOOKUP_TABLE  Debug lookup-table
 * @brief Application specific debug lookup-table
 * 
 * This module holds the application specific debug address lookup table
 * and interfaces it to the debug module.
 * @{
 */

/**
 * Debug lookup-table access function
 * @param[in]  index  The lookup table's index
 * @return            The address of the desired variable,
 *                    respectively zero if index does not exist
 */
uint32_t Debug_LookupTableGetAddress(uint32_t index);

/**
 * @}
 */

#endif // __DEBUG_LOOKUP_TABLE_H__
